.main {
  background-image: url("/img/image-garden-dark.jpg");
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
  height: 75vh;


  h1 {
    color: #ffffff;
    font-size: 2rem;
    display: none;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-family:  Helvetica, Arial, sans-serif;
  }

}




