.cards {
 align-self: center;
 justify-content: center;
 display: flex;
 flex-direction: column;

 @media (min-width: 1500px) {
      max-width: 1500px;
   }
  @media (max-width: 575px) {

  }
  .highlight {
    background-color: black;
    padding:  1rem 2rem;
  }
 
 .videopostcard {

  }
  .postcard {

  }


}

.cardWrapper {
 // border: 1px solid gray;
   // width: 100%;
   // grid-row: auto / 3;
	 // grid-column: 3 / 3;
 //  grid-row-end: span 2;
   display: flex;
  // grid-column-end: span 1;
 //@if expr {
   
 //  flex-direction: row-reverse;


}
.big {

 // border: 3px solid pink;
//  @media (max-width: 575px) {
    // flex-direction: column;
//    grid-column-end: span 3;
 // }


}
.full {
  grid-column-end: span 3;
  //border: 3px solid pink;
}
.tall {
  grid-column-end: span 2;
}


.highlight {

  grid-column-end: span 3;
  background-color: 000;
}