.cards {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  padding-bottom: 1rem;
  text-align: center;
  justify-content: center;

  @media (max-width: 575px) {
    flex-direction: column;
  }
}

.cardWrapper {
  width: 50%;
  @media (max-width: 575px) {
    width: 100%;
  }
}
